* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    height: 100%;
    width: 300px;
    background-color: cadetblue;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    position: relative;
    border-radius: 15px;
}

form > button {
    padding: 5px 10px;
    width: 100px;
    border-radius: 15px;
}

form > input {
    padding: 5px 10px;
    border-radius: 5px;
}

form > img[src="logo2.png"] {
    position: absolute;
    left: 100px;
    top: -60px;
    padding: 5px;
    background-color: cadetblue;
    border-radius: 100%;
    border: 5px solid antiquewhite;
}